# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# --- Virtual environments ---
venv/
sci_venv/
.env/
.venv/

# --- Logs ---
*.log

# --- System / Editor files ---
.DS_Store
.idea/
.vscode/
*.swp
